
.container
{
   max-width: 1400px;
   margin: 30px auto; 
   background-color: darkgray;
   padding: 30px;
}

.slider {
    width: 443px;
    height: 591px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}
.slides {
    width: 443px;
    height: 591px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

/* @keyframes pociag-w-lewo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2000px);
    }
} */